@import '../variables';

body {
  background-color: $main-color-0;
}

.Home {
  font-family: Quicksand;
  .Home-main {
    width: 100%;
    position: relative;
    text-align: center;

    img {
      position: absolute;
      // width: 1000px;
      
    }

    .Home-mainTitle{
      position: relative;
      font-size: 20px;
      text-align: center;

    }
  }
}
