@import "../variables";

body {
  background-color: $main-color-0;
}

.Home {
  font-family: Quicksand;
  .Home-main {
    width: 100%;
    height: 470px;
    background-image: url("../../public/H/H-main.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;

    .Home-title{
      width: 1000px;
      height: 450px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      font-size: 23px;  
      color: $main-color-2;

      h1,span{
        padding-left: 50px;
        padding-top: 20px;
      }

      span{
        width: 400px;
      }
    }
  }
}
