$main-color-0: #e9e9e5;
$main-color-1: #ededeb;
$main-color-2: #9c8d77;
$main-color-3: #bfb6aa;
$main-color-4: #a89f93;
$main-color-5: #c7c3ba;
$main-color-6: #cfc9bb;
$main-color-7: #dddad1;
$main-color-8: #626262;
$main-color-9: #2e1402;
$main-color-10: #7c6d58;
$font-header: "Nunito", sans-serif;
$font-title: "Cormorant Garamond", serif;

@mixin grid-box {
  background-color: $main-color-3;
  padding: 20px;
  color: $main-color-9;
  border: 1px solid $main-color-6;
  line-height: 1.4;

  img {
    width: 50px;
  }
  span {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-family: $font-header;
  }

  p {
    margin: 10px;
    font-family: $font-title;
    font-size: 18px;
    font-weight: 700;
  }
}
